<table>
    <tbody>
    <tr>
        <th>Имя</th>
        <th>Email</th>
        <th>Сообщение</th>
        <th>Тема</th>
        <th>Дата</th>
   </tr>
    <tr>
        <td>{{ name }}</td>
        <td>{{ email }}</td>
        <td>{{ message }}</td>
        <td>{{ subject }}</td>
        <td>{{ date }}</td>
    </tr>
    </tbody>
</table>