{% load cms_tags menu_tags sekizai_tags staticfiles i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="JTnAbKvGZ_bepGbHqn4P0ziqnv3ZQ0m0pZf5FPLf6sU"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Частные уроки английского языка. Подготовка к IELTS/TOEFL. Курсы General English. Курсы Business English.">
    <meta name="keywords"
          content="уроки английского языка, репетитор, частные уроки, анлийский язык, преподаватель анлийского, курсы английского, английский по skype, hangouts, занятия, учитель английского, IELTS, TOEFL">
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-80293775-1', 'auto');
        ga('send', 'pageview');

    </script>

    <title>{% trans "Уроки английского" %}</title>


    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static "theme/corporal2/assets/css/bootstrap.min.css" %} ">

    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="{% static "theme/corporal2/assets/css/main.css" %} ">

    <!-- Responsive Style -->
    <link rel="stylesheet" type="text/css" href="{% static "theme/corporal2/assets/css/responsive.css" %} ">

    <!--Icon Fonts-->
    <link rel="stylesheet" media="screen" href="{% static "theme/corporal2/assets/css/font-awesome.min.css" %} "/>

    <!--Flexslider-->
    <link rel="stylesheet" media="screen" href="{% static "theme/corporal2/assets/css/flexslider.css" %} "/>

    <!--Datepicker-->
    <link rel="stylesheet" media="screen"
          href="{% static "theme/corporal2/datepicker/css/bootstrap-datepicker3.standalone.min.css" %} "/>

    <!-- Extras -->
    <link rel="stylesheet" type="text/css" href="{% static "theme/corporal2/assets/extras/animate.css" %} ">
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static "theme/corporal2/assets/extras/lightbox.css" %} "> {% endcomment %}


    <!-- jQuery Load -->
    <script src="{% static "theme/corporal2/assets/js/jquery-min.js" %} "></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

</head>

<body data-spy="scroll" data-offset="20" data-target="#navbar">
<!-- Nav Menu Section -->
<div class="logo-menu">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" data-spy="affix" data-offset-top="50">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header col-md-3">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#hero-area"><i class="fa fa-graduation-cap" aria-hidden="true"></i>
                    Engplace</a>
            </div>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav col-md-9 pull-right">
                    <li><a href="#services"> <i class="fa fa-leanpub" aria-hidden="true"></i>{% trans " Общий курс" %}
                    </a></li>
                    <li><a href="#specialcourses"> <i class="fa fa-hashtag"
                                                      aria-hidden="true"></i>{% trans " Спец.курсы" %}</a></li>
                    <li><a href="#feedback"> <i class="fa fa-comment" aria-hidden="true"></i>{% trans " Отзывы" %}</a>
                    </li>
                    <li><a href="#questions"> <i class="fa fa-question" aria-hidden="true"></i>{% trans " FAQ" %}</a>
                    </li>
                    <li><a href="#about"> <i class="fa fa-tag" aria-hidden="true"></i>{% trans " О себе" %}</a></li>
                    <li><a href="#contact"><i class="fa fa-paper-plane" aria-hidden="true"></i>{% trans " Контакты" %}
                    </a></li>
                    <li><a href="/study"><i class="fa fa-graduation-cap" aria-hidden="true"></i>{% trans " Study Section" %}
                    </a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<!-- Nav Menu Section End -->

<!-- Main Area Section -->
<section id="hero-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="title">{% trans "Уроки английского языка по Skype" %}</h1>
                <h2 class="subtitle">{% trans "Welcome to E-Learning English" %}</h2>

                <img class="col-md-6 col-sm-6 col-xs-12 animated fadeInLeft"
                     src="{% static "theme/corporal2/assets/img/hero/lang_main.png" %} " alt="">

                <div class="col-md-6 col-sm-6 col-xs-12 animated fadeInRight delay-0-5">
                    <p>{% trans "Персональный учитель по Skype - это удобно. Вам нет необходимости, тратить часы драгоценного времени на дорогу, перекраивать свой график работы или учебы. Все, что необходимо — это интернет. Практически в любом удобном для вас месте, можно организовать учебный класс. Это плюсы современных технологий, которые бесспорно нужно использовать для совершенствования своих знаний." %}</p>
                    <a href="#contact" class="btn btn-common btn-lg">{% trans "записаться на бесплатный урок" %}</a>

                </div>

            </div>

        </div>
    </div>
</section>

<!-- Main Area Section End-->

<!-- Service Section -->
<section id="services">
    <div class="container text-center">
        <div class="row">
            <h1 class="title">{% trans "Общий курс английского языка" %}</h1>
            <h2 class="subtitle">{% trans "курс для повышения уровня английского языка" %}</h2>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="service-item">

                    <h3>{% trans "О курсе" %}</h3>
                    {% blocktrans %}
                        <p>Этот курс идеально подходит для тех, кто чувствует, что его
                            английский нужно подтянуть, кто когда-то учил английский в
                            школе, но забыл или не применял его на практике. Если вам
                            нужно освежить и утвердить ваши разговорные навыки и знания,
                            либо подняться до более продвинутого уровня, то этот курс для вас.</p>
                        <p>Курс включает в себя уроки английского любого уровня, от
                            начального (Elementary) до профессионального владения
                            языком (Proficient).</p> На уроках тщательно изучаются все 4
                        аспекта языка: Аудирование (Listening), Чтение (Reading),
                        Разговорные навыка (Speaking), письмо (Writing). А также
                        большое внимание уделяется фонетике и произношению.
                    {% endblocktrans %}
                    <p></p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="service-item">

                    <h3>{% trans "Индивиальный подход" %}</h3>
                    <p>{% blocktrans %}Все мы разные, поэтому программа обучения подбирается для каждого персонально,
                        исходя из уровня подготовки и поставленных целей.
                        После тестирования, обычно становится ясно в какой области Ваших знаний стоит
                        поднажать.{% endblocktrans %}</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="service-item">

                    <h3>{% trans "Бесплатный первый урок" %}</h3>
                    <p>{% blocktrans %}Это прекрасный способ, без лишних затрат, убедиться, что индивидуальные занятия
                        по Skype Вам подходят.
                        А так же, познакомиться с учителем, пройти тест на уровень знания английского языка, определить
                        программу обучения и задать все интересующий вопросы.{% endblocktrans %}</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="service-item">

                    <h3>{% trans "Цены" %}</h3>

                    <div class="plan-value">
                        <p>Общий английский: <strong>30$</strong> урок</p>
                        <p>Подготовка к тесту IELTS/TOEFL: <strong>35$</strong> урок</p>
                        <p class="text-info">Продолжительность урока: 60 мин</p>
                    </div>

                    </div>

                    <span class="text-info"> {% trans "Переход с одного уровня владения языком на другой, как правило требует 15-20 уроков." %}</span>
                </div>
            </div>


        </div>
    </div>
</section>
<!-- Service Section End -->


<!-- SPECIAL COURSES Section -->
<section id="specialcourses">
    <div class="container">
        <div class="row">
            <h1 class="title">{% trans "Специальные курсы" %}</h1>
            <h2 class="subtitle"></h2>


            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="service-item">
                    <img src="{% static "theme/corporal2/assets/img/other/business_eng.png" %} " alt="">
                    <h3>{% trans "Английский для бизнеса" %}</h3>
                    <h5>{% trans "О курсе" %}</h5>
                    {% blocktrans %}В деловом мире, английский язык уже давно стал стандартным средством международной
                        коммуникации. Если у Вас есть иностранные деловые партнеры, Вы часто ездите на конференции,
                        даете интервью, ведете переписку, участвуете в совещаниях, проводите собеседования, тогда этот
                        курс для Вас. Возможно, Вы уже самостоятельно овладели английским языком и активно используете
                        его в переговорах, но как правило такие люди допускают большое количество ошибок, что может
                        сказаться на вашей репутации специалиста или партнера. На курсе Вы узнаете о самых
                        распространенных ошибках, исправив которые, Ваша речь станет более грамотной и приятной.
                        <p>На этом курсе вы научитесь:</p>
                        <ul>

                            <li>Свободно выражать свои мысли при общении с клиентами и коллегами на различных уровнях и
                                в разных рабочих ситуациях.
                            </li>
                            <li>Готовить и проводить презентации.</li>
                            <li>Учавствовать в интервью, совещаниях.</li>
                            <li>Вести деловую переписку.</li>
                        </ul>
                    {% endblocktrans %}
                    <p></p>
                    <h5>{% trans "Продолжительность урока:" %}</h5>
                    <span>{% trans "60 мин" %}</span>

                    <p></p>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="service-item">
                    <img src="{% static "theme/corporal2/assets/img/other/ielts-logo.png" %} " alt="">
                    <h3>{% trans "Подготовка к тесту IELTS" %}</h3>
                    <h5>{% trans "О курсе" %}</h5>
                    {% blocktrans %} Если от Вас требуется подтверждение уровня владения английским языком, тогда чаще
                        всего для этого необходимо ставать экзамен IELTS и получить сертификат с оценками. Этот
                        сертификат необходим для поступления в англоязычные ВУЗы, для эмиграции в США, Канаду,
                        Австралию, а так же часто при найме на работу в иностранные организации. Если вы относитесь к
                        числу тех, кому предстоит сдать IELTS тест, этот курс для вас. Прохождение курса поможет
                        эффективно подготовиться к сдаче IELTS в соответствии с индивидуальным планом Вашей подготовки.
                        <p>На этом курсе вы научитесь:</p>
                        <ul>
                            <li>Самые необходимые и реальные советы для успешной сдачи экзамена</li>
                            <li>Вы узнаете как проходит экзамен и формат сдачи экзамена</li>
                            <li>Вы узнаете основные стратегии сдачи теста и специальные языковые навыки необходимые для
                                успешного прохождения теста для Academic and General. Есть специальные правила и
                                закономерности, которые необходимо знать и применять на экзамене.
                            </li>
                            <li>На уроках мы проходим каждый раздел индивидуально, развивая навыки аудирования (
                                Listening), чтения ( Reading), письма ( Writing) и разговорной части ( Speaking)
                            </li>
                        </ul>
                    {% endblocktrans %}
                    <p></p>
                    <h5>{% trans "Продолжительность урока:" %}</h5>
                    <span>{% trans "60 мин" %}</span>


                    <p></p>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="service-item">
                    <img src="{% static "theme/corporal2/assets/img/other/lets_talk.png" %} " alt="">
                    <h3>{% trans "Разговорный английский" %}</h3>

                    <h5>{% trans "О курсе" %}</h5>
                    {% blocktrans %}Вам сложно начать разговор на английском? Вы не можете подобрать
                        правильные слова, чтобы выразить свои мысли на английском. Вы не понимаете разговорную
                        английскую речь?
                        Этот "Разговорный курс" английского поможет преодолеть ваши коммуникативные трудности. С помощью
                        этого курса вы сможете свободно общаться с носителями языка, понимать англоязычную речь без
                        перевода, уверенно выражать свои мысли на английском языке.

                        <p>На этом курсе вы научитесь:</p>

                        <ul>

                            <li> Самостоятельно строить предложения и выражать свои мысли.</li>
                            <li> Поддерживать разговор на любые темы</li>
                            <li> Слышать и понимать разговорную речь на английском</li>
                            <li>Бегло говорить, с легкостью подбирая нужные слова и фразы</li>

                        </ul>

                        Полученные знания вы сможете использовать в любых сферах деятельности.
                    {% endblocktrans %}
                    <p></p>
                    <h5>{% trans "Продолжительность урока:" %}</h5>
                    <span>{% trans "60 мин" %}</span>

                    <p></p>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="service-item">
                    <img src="{% static "theme/corporal2/assets/img/other/abc.png" %} " alt="">
                    <h3>{% trans "Быстрый старт в английский" %}</h3>

                    <h5>{% trans "О курсе" %}</h5>
                    {% blocktrans %}Курс разработан и направлен на тех, кому нужно быстро и эффективно, освоить азы
                        английского, понять как работает механизм языка, как строить базовые структуры и как применять
                        их на практике. Он идеально подходит для тех, кто только начинает учить английский язык, а также
                        для тех, кто учил его когда-то, но позабыл его. На простом и доступном уровне объясняются
                        основные грамматические принципы, минимум теории, больше практики.

                        <p>На этом курсе вы научитесь:</p>

                        <ul>

                            <li> Понимать самые необходимые базовые структуры.</li>
                            <li> Понимать и строить предложения.</li>
                            <li> Правильно и грамотно выражать мысли.</li>
                            <li> Большой акцент уделяется фонетике и произношению.</li>

                        </ul>

                    {% endblocktrans %}
                    <p></p>
                    <h5>{% trans "Продолжительность урока:" %}</h5>
                    <span>{% trans "60 мин" %}</span>

                    <p></p>
                </div>
            </div>


        </div>
    </div>
</section>

<!-- SPECIAL COURSES Section END-->

<!-- Section Feedbak -->
<section id="feedback" class="section-padding text-center">
    <div class="container">
        <h1 class="title">Отзывы</h1>

        <div class="row">
            <div class="col-md-12">
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <div class="avatar"><img
                                    src="{% static "theme/corporal2/assets/img/avatar/feedback_1.png" %}"
                                    alt=""></div>
                            <h4>{% blocktrans %}Среди русскоязычных преподавателей английского языка Надежда - оказалась
                                одной из
                                лучших. Она не только прекрасный педагог, но и отличный человек. Наши занятия проходят
                                интенсивно, интересно и, конечно, с пользой. Не только форма, но и содержание материала
                                подобрано очень грамотно, что особенно важно для курса Business English. Если решу
                                готовиться к сдаче IELTS, то теперь знаю, к какому профессионалу обратиться и всем
                                рекомендую! {% endblocktrans %}</h4>
                            <p class="author">{% trans "Ирина" %}.</p>
                        </li>
                        <li>
                            <div class="avatar"><img
                                    src="{% static "theme/corporal2/assets/img/avatar/feedback_2.png" %}"
                                    alt="Sedna Testimonial Avatar"></div>
                            <h4>{% blocktrans %}Моей главной целью была подготовка к экзамену IELTS. В поисках хорошего
                                преподавателя я опирался на опыт подготовки к экзамену моих знакомых. Так я познакомился
                                с Надеждой. Моя подготовка к экзамену все еще в процессе, но могу точно сказать, что
                                благодаря Надежде мне удалось значительно улучшить свои языковые навыки.

                                Я с полной уверенностью могу сказать, что вы останетесь
                                довольны! {% endblocktrans %}</h4>
                            <p class="author">{% trans "Александр" %}.</p>
                        </li>

                        <li>
                            <div class="avatar"><img
                                    src="{% static "theme/corporal2/assets/img/avatar/feedback_3.png" %}"
                                    alt="Sedna Testimonial Avatar"></div>
                            <h4>{% blocktrans %}Мы занимались с Надеждой в течение полутора месяца с целью подготовки к
                                сдаче экзамену IELTS .
                                Мой уровень как показало предварительное тестирование был немного ниже среднего , мне
                                нужно было его поднять на уверенный средний уровень это оценка 5 и выше. У моего мужа
                                ситуация была лучше , но все равно хотелось добиться высоких результатов ,минимум 7.
                                Времени
                                на подготовку было не много , так что занятия были практически каждый день.
                                Надежда показала себя как профессионал , знаток своего дела на все 100% так как мы
                                отправились на экзамен полностью готовыми к бою! Мой результат 5.5 и у мужа 7.5, чему мы
                                очень рады и это благодаря упорным занятиям и грамотному подходу педагога!
                                Мы рекомендуем нашим друзьям и всем кому нужны уроки английского языка, заниматься с
                                Надеждой, так как убедились в эффективности на своем личном
                                опыте!{% endblocktrans %}</h4>
                            <p class="author">{% trans "Елена и Константин" %}.</p>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Feedback Section End -->

<!-- Client Section -->
<section id="questions">
    <div class="container">
        <div class="row">

            <h1 class="title">FAQ</h1>
            <h2 class="subtitle">{% trans "частые вопросы" %}</h2>

            <div class="wow fadeInDown">

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <h4>{% trans "Как проходят занятия?" %}</h4>
                    <p>{% trans "Занятия проходит в формате видеоконференции по Skype или Hangouts. Все необходимые материалы, будут Вам доступны в личном кабинете на нашем сайте." %} </p>

                    <h4>{% trans "Сколько уроков мне нужно взять?" %}</h4>
                    <p>{% trans "Все зависит от того, какой курс Вы хотите пройти и какой нужен результат. Минимальный пакет 10 уроков." %} </p>

                    <h4>{% trans "Сколько времени длится урок?" %}</h4>
                    <p>{% trans "Все зависит курса, который вы будете проходить." %} </p>

                    <h4>{% trans "Что мне необходимо, для того чтобы начать?" %}</h4>
                    <p>{% trans "Желание, мотивация, интернет, web-камера." %} </p>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <h4>{% trans "Какой уровень английского у меня должен быть, чтобы начать?" %}</h4>
                    <p>{% trans "Любой уровень. Главное желание :). Для некоторых спец.курсов необходим определенный уровень знаний. Лучше всего пройти пробный урок, после этого Вам будет проще принять решение." %} </p>

                    <h4>{% trans "Сколько стоит один урок?" %}</h4>
                    <p>{% trans "Стоимость урока зависит от курса и количества уроков, которые вы выберете." %} </p>

                    <h4>{% trans "Как оплатить курс?" %}</h4>
                    <p>{% trans "Оплатить курс вы сможете банковской картой Visa/MasterCard. Для этого Вам на email будет выслан счет на оплату. Если у Вас нет возможности оплатить картой, мы что-нибудь придумаем." %} </p>

                    <h4>{% trans "Можно ли частями оплатить свой курс обучения?" %}</h4>
                    <p>{% trans "Да это возможно. Для начала курса, Вам необходимо будет оплатить минимум 5 уроков." %} </p>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Client Section End -->

<!-- About Section -->

<section id="about">
    <div class="container">
        <div class="row">
            <h1 class="title">О себе</h1>
            <h2 class="subtitle"></h2>

            <div class="col-md-8 col-sm-12">

                <p> {% blocktrans %}
                    Меня зовут Надежда, живу в Калифорнии, США. Я профессиональный преподаватель иностранных языков, c высшим лингвистическим
                    образованием.
                    Более 10 лет успешного опыта подготовки учащихся различных уровней и возрастных
                    категорий.
                    <p>Опыт подготовки учеников к сдаче на международные сертификаты IELTS/TOEFL, к
                        поступлению в иностранные вузы и профессиональной иммиграции в англоязычные страны.</p>
                    <p>Свободно владею 4 языками: русский, английский, немецкий, румынский.</p>
                    <p>Все это время работаю непосредственно с носителями языка.</p>
                    <p>Я помогу Вам, начать правильно и бегло говорить на английском языке, преодолеть языковой барьер
                        и чувствовать себя свободно при разговоре на английском.</p>
                {% endblocktrans %}

            </div>

            <div class="avatar" class="col-md-4 col-md-4 col-sm-12 col-xs-12">
                <img src="{% static "theme/corporal2/assets/img/avatar/me.png" %} " alt="">
            </div>
        </div>
    </div>
</section>
<!-- About Section End -->

<!-- Conatct Section -->
<section id="contact">
    <div class="container text-center">
        <div class="row">
            <h1 class="title">{% trans "Контакты" %}</h1>

            <h2 class="subtitle">обратная связь и запись на пробный урок</h2>


            {% csrf_token %}
            <div class="col-md-6 wow fadeInLeft" data-wow-delay=".5s">
                <div id="errormessage">

                </div>
                <div class="form-group">
                    <div class="controls">
                        <input type="text" id="namefield" class="form-control" required placeholder="{% trans "Имя" %}"
                               name="name">
                    </div>
                </div>
                <div class="text-red form-group">
                    <div class="controls">
                        <input type="email" id="emailfield" required class="form-control email" placeholder="Email"
                               name="email">
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                        <input type="text" id="subjectfield" required class="form-control requiredField"
                               placeholder="{% trans "Тема" %}" name="subject">
                    </div>
                </div>

                <div class="form-group">
                    <div class="controls">
                        <input type="text" id="sandbox-container" class="form-control requiredField"
                               placeholder="{% trans "Дата пробного урока" %}" name="date">
                    </div>
                </div>

                <div class="form-group">

                    <div class="controls">
                        <textarea rows="7" id="messagefield" required class="form-control"
                                  placeholder="{% trans "Сообщение" %}" name="message"></textarea>
                    </div>
                </div>
                <button id="submit" class="btn btn-lg btn-common">{% trans "отправить" %}</button>
                <div id="success" style="color:#34495e;"></div>

            </div>


            <div class="col-md-6 wow fadeInRight">
                <div class="contact-info">
                    <p><i class="fa fa-envelope"></i> info@engplace.com</p>
                </div>

                <p>
                    {% trans "Если вы хотите записаться на пробный урок, пожалуйста укажите удобную для вас дату и время. " %}
                </p>
                <p>
                    {% trans "Буду рада ответить на ваши вопросы." %}
                </p>


            </div>

        </div>
    </div>
</section>

<!-- Conatct Section End-->


<div id="copyright">
    <div class="container">
        <div class="col-md-10"><p>© All right reserved. Engplace</p></div>
        <div class="col-md-2">
            <span class="to-top pull-right"><a href="#hero-area"><i class="fa fa-angle-up fa-2x"></i></a></span>
        </div>
    </div>
</div>
<!-- Copyright Section End-->

<!-- Bootstrap JS -->
<script src="{% static "theme/corporal2/assets/js/bootstrap.min.js" %} "></script>

<!-- Smooth Scroll -->
<!-- Smooth Scroll -->
<script src="{% static "theme/corporal2/assets/js/smooth-scroll.js" %} "></script>
<script src="{% static "theme/corporal2/assets/js/lightbox.min.js" %} "></script>

<script src="{% static "theme/corporal2/assets/js/jquery.flexslider-min.js" %} "></script>

<!-- All JS plugin Triggers -->
<script src="{% static "theme/corporal2/datepicker/js/bootstrap-datepicker.min.js" %} "></script>

<script src="{% static "js/home_page.js" %} "></script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function () {
            try {
                w.yaCounter38318960 = new Ya.Metrika({
                    id: 38318960,
                    clickmap: true,
                    trackLinks: true,
                    accurateTrackBounce: true
                });
            } catch (e) {
            }
        });

        var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () {
                    n.parentNode.insertBefore(s, n);
                };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else {
            f();
        }
    })(document, window, "yandex_metrika_callbacks");
</script>
<!-- /Yandex.Metrika counter -->


</body>
</html>