<!-- Tell the browser to be responsive to screen width -->
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<!-- Bootstrap 3.3.6 -->
<link rel="stylesheet" href="/static/theme/LTE/bootstrap/css/bootstrap.min.css">
<!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
<!-- Ionicons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<!-- daterange picker -->
<link rel="stylesheet" href="/static/theme/LTE/plugins/daterangepicker/daterangepicker-bs3.css">
<!-- bootstrap datepicker -->
<link rel="stylesheet" href="/static/theme/LTE/plugins/datepicker/datepicker3.css">
<!-- iCheck for checkboxes and radio inputs -->
<link rel="stylesheet" href="/static/theme/LTE/plugins/iCheck/all.css">
<!-- Bootstrap Color Picker
<link rel="stylesheet" href="/static/theme/LTE/plugins/colorpicker/bootstrap-colorpicker.min.css">-->
<!-- Bootstrap time Picker -->
<link rel="stylesheet" href="/static/theme/LTE/plugins/timepicker/bootstrap-timepicker.min.css">
<!-- Select2 -->
<link rel="stylesheet" href="/static/theme/LTE/plugins/select2/select2.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="/static/theme/LTE/dist/css/AdminLTE.css">
<!-- AdminLTE Skins. Choose a skin from the css/skins
     folder instead of downloading all of them to reduce the load. -->
<link rel="stylesheet" href="/static/theme/LTE/dist/css/skins/_all-skins.min.css">

<link href="/static/css/LTE/custom.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet"/>

<link rel="stylesheet" href="/static/css/custom/main.min.css">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:/ -->
<!--[if lt IE 9]>
  <script src="https:/oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https:/oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->