<!-- jQuery 2.2.0 -->
<script src="/static/theme/LTE/plugins/jQuery/jQuery-2.2.0.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="/static/theme/LTE/bootstrap/js/bootstrap.min.js"></script>
<!-- AdminLTE App -->
<script src="/static/theme/LTE/dist/js/app.min.js"></script>

<script src="/static/js/custom.js"></script>
