/* ==========================================================================
.testimonial-slider
========================================================================== */
#feedback {
  background: #34495e;
  color: #fff;

}
#feedback p {
  line-height: 30px;
  font-size: 17px;

    background-size: cover;
    background: #34495e;
    color: #fff;
}

#feedback .row{
    padding: 95px 0px;
}

#feedback .avatar {
    width: 82px;
    height: 82px;
    margin: 0 auto;
    vertical-align: middle;
    overflow: hidden;
    border-radius: 50%;
    border: solid 3px #fff;
    background-color: #fff;
}

#feedback .avatar img {
    width: 82px;
    height: auto;
}

#feedback h2 {
    color: #fff;
    font-size: 25px;
    font-weight: 300;
    font-style: italic;
    margin: 30px 0;
}

#feedback p {
    color: #ACB1B4;
    text-transform: uppercase;
    letter-spacing: 2px;
}