/*@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);*/

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/static/theme/corporal2/assets/fonts/otf/SourceSansPro-Regular.otf');
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/static/theme/corporal2/assets/fonts/otf/SourceSansPro-Bold.otf');
    font-weight: bold;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/static/theme/corporal2/assets/fonts/otf/SourceSansPro-It.otf');
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/static/theme/corporal2/assets/fonts/otf/SourceSansPro-BoldIt.otf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/static/theme/corporal2/assets/fonts/otf/SourceSansPro-Light.otf');
    font-weight: 300;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/static/theme/corporal2/assets/fonts/otf/SourceSansPro-LightIt.otf');
    font-style: italic;
    font-weight: 300;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 400;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

a {
    color: #e74c3c;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

a:hover {
    color: #e76c3c;
}

.row {
    padding: 80px 0px;
}

.btn {
    border: none;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    text-transform: uppercase;
    border-radius: 0;
}

.btn-common {
    background: #3d566e;
    color: #fff;
}

.btn-common:hover {
    background: #e74c3c;
    color: #fff;
}

.title {
    text-align: center;
    font-size: 50px;
}

.subtitle {
    text-align: center;
    font-weight: 100;
    padding-bottom: 30px;
    position: relative;
    color: #bdc3c7;
}

.navbar {
    margin-bottom: 0;
}

.navbar li {
    color: #d1d1d1;
}

.navbar-default {
    border: none;
    border-radius: 0;
    background: rgba(0, 0, 0, 0.2);
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background: none;
    color: #fff;
}

.navbar-default .navbar-nav li a,
.navbar-default .navbar-nav li a:hover {
    color: #fff;
}

.navbar-default .navbar-nav > .active,
.navbar-default .navbar-nav li:hover {
    background: #e74c3c;
    padding-bottom: 5px;
    color: #fff;
}

.navbar-default .navbar-brand {
    font-size: 25px;
    color: #fff;
    font-weight: 100;
}

.navbar-default .navbar-brand:hover {
    color: #eee;
}

.navbar-default .navbar-toggle .icon-bar {
    background: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background: #333;
}

.affix.navbar-default {
    background: rgba(0, 0, 0, 0.8);
}

#hero-area {
    background: #34495e;
    color: #fff;
}

#hero-area .btn {
    margin-right: 20px;
}

#hero-area img {
    max-width: 100%;
}

#hero-area p {
    padding: 50px 0;
}

#services h3 {
    margin-top: 0;
    font-size: 28px;
    color: #e74c3c;
}
#services ul li {
    text-decoration: none;
    list-style: none;
    text-align: left;
}

#services .courses-price table {
    color: #5e5e5e;
}

#services .courses-price td, th {
    padding: 0 25px;
}

#services .courses-price th {
    font-weight: normal;
}

#services .courses-price td {
    font-size: larger;
}

/*feedback*/
#feedback {
    background: #34495e;
    color: #fff;

}

#feedback p {
    line-height: 30px;
    font-size: 17px;

    background-size: cover;
    background: #34495e;
    color: #fff;
}

#feedback .row {
    padding: 95px 0px;
}

#feedback .avatar {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    vertical-align: middle;
    overflow: hidden;
    border-radius: 50%;
    border: solid 3px #fff;
    background-color: #fff;
}

#feedback .avatar img {
    width: 150px;
    height: auto;
}

#feedback h2 {
    color: #fff;
    font-size: 25px;
    font-weight: 300;
    font-style: italic;
    margin: 30px 0;
}

#feedback p {
    color: #ACB1B4;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/*specialcourses*/
#specialcourses {
    background: #f1f1f1;
}

#specialcourses h3 {
    margin-top: 0;
    font-size: 28px;
    color: #e74c3c;
}

#specialcourses h5 {
    margin-top: 0;
    font-size: 14px;
    color: #e74c3c;
}

#specialcourses .plan-value{
    padding: 10px 0 ;
}

#specialcourses .courses-price table {
    color: #5e5e5e;
}

#specialcourses .courses-price td, th {
    padding: 0 25px;
}

#specialcourses .courses-price th {
    font-weight: normal;
}

#specialcourses .courses-price td {
    font-size: larger;
}

#specialcourses h2 {
    color: #5e5e5e;
}

#questions {
    background: #fff;
}

#questions p {
    color: dimgray;
    font-size: 15px;
}

#questions h4 {
    color: #e74c3c;
}

#about {
    background: #34495e;
    color: #fff;
}

#about p {
    line-height: 30px;
    font-size: 17px;
}

#about .avatar {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    vertical-align: middle;
    overflow: hidden;
    border-radius: 50%;
    border: solid 3px #fff;
    background-color: #fff;
}

#about .avatar img {
    width: 200px;
    height: auto;
}

#contact {
    background: #f1f1f1;
}

#contact h3 {
    color: #f18820;
}

#contact ::-webkit-input-placeholder {
    color: #ecf0f1;
}

#contact :-moz-placeholder {
    color: #ecf0f1;
}

#contact ::-moz-placeholder {
    color: #ecf0f1;
}

#contact :-ms-input-placeholder {
    color: #ecf0f1;
}

#contact .social i {
    color: #fff;
    padding: 10px;
    margin-right: 5px;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    background: #34495e;
}

#contact .social .social-links a:hover {
    color: #fff;
}

#contact .social .fa-facebook:hover {
    background: #3b5998;
    color: #fff;
}

#contact .social .fa-twitter:hover {
    background: #00CAFB;
    color: #fff;
}

#contact .social .fa-google-plus:hover {
    background: #D23A1D;
    color: #fff;
}

#contact .social .fa-linkedin:hover {
    background: #007bb6;
    color: #fff;
}

#contact .social .fa-dribbble:hover {
    background: #ea4c89;
    color: #fff;
}

#contact .social .fa-github:hover {
    background: #171515;
    color: #fff;
}

#contact .contact-info {
    margin: 40px 0;
}

#contact .contact-info p {
    font-size: 20px;
}

#contact .contact-form .form-control {
    box-shadow: none;
    font-size: 17px;
    margin-bottom: 20px;
    border-radius: 0;
    border: none;
}

/*Scroll Top*/
.to-top i {
    padding: 10px 15px;
    margin: 10px;
    background: transparent;
    color: #34495e;
    border: 2px solid #34495e;
}

.to-top i:hover {
    background: #34495e;
    color: #fff;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

#copyright {
    background: #F1F1F1;
    color: #333;
}

#copyright a {
    color: #333;
}

.text-red {
    border-color: #bc251f;
}

.text-info{
   font-style: italic;
    color: #5e5e5e;
    font-size: small;
}



/* COURSES
#courses {
    background: #f1f1f1;
}

#courses li {
    text-decoration: none;
}

#courses ul {
    list-style: none;
}

#courses .panel-primary > .panel-heading {
    color: #fff;
    background-color: #34495e;
    border-color: #34495e;
    text-align: center;
}


#courses .plan-value{
    color: #5e5e5e;

}

#courses .plan-key{
    color: #e74c3c;
    padding-top: 8px;
}

#courses .panel-primary {
    border-color: #34495e;
    height: 408px;
}


#courses .courses-price table {
    color: #5e5e5e;
}

#courses .courses-price td, th {
    padding: 0 25px;
}

#courses .courses-price th {
    font-weight: normal;
}

#courses .courses-price td {
    font-size: larger;
}
*/