{% load cms_tags menu_tags sekizai_tags staticfiles %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% page_attribute 'page_title' %}</title>

    {% block css %}
        {% include "LTE/static_files/main_css.html" %}
    {% endblock %}

    {% render_block "css" %}

</head>

<body class="hold-transition skin-blue sidebar-mini">
{% cms_toolbar %}

<div class="wrapper">

    <!-- Main Header -->
    <header class="main-header">

        <!-- Logo -->
        <a href="/" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <!--span class="logo-mini"><b>A</b>BS</span-->
            <!-- logo for regular state and mobile devices -->
            <!--span class="logo-lg"><b>Admin</b>BS</span-->
        </a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">

            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <!-- Navbar Right Menu -->

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">

                </ul>
            </div>

        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

            <!-- Sidebar user panel (optional) -->

            <div class="user-panel">
                <div class="pull-left image">
                    <img src="/static/theme/LTE/dist/img/avatar.jpg" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    {% if user.is_authenticated %}
                        <p>{{ user.user }}</p>
                    {% else %}
                        <p>Гость</p>
                    {% endif %}
                    <!-- Status -->
                </div>
            </div>


            <!-- Sidebar Menu -->
            {% block menu_courses %}

            {% endblock %}
            <!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Content Header (Page header) -->
        <div class="content-header">
            {% block content_header %}
            {% endblock %}
        </div>

        <!-- Main content -->
        <div class="content body">
            {% block content_body %}

            {% endblock %}
        </div>

    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer class="main-footer">
        {% static_placeholder "Footer" %}
        <!-- To the right -->
        <div class="pull-right hidden-xs">

        </div>
        <!-- Default to the left -->

    </footer>

</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->
{% block js %}
    {% include "LTE/static_files/main_js.html" %}
{% endblock %}

{% render_block "js" %}

</body>
</html>
