{% extends "LTE/base_main.html" %}
{% load cms_tags menu_tags %}


{% block menu_courses %}
    <ul class="sidebar-menu">
        {% show_menu 0 100 100 100 "LTE/menu/main_menu.html" %}

        {% if user.is_authenticated %}
            <li class=" ">
                <a href="{% url "django.contrib.auth.views.logout" %}?next=/">
                    <i class="fa fa-link"></i>
                    <span>Выйти</span>
                </a>
            </li>
        {% else %}
            <li class=" ">
                <a href="{% url "django.contrib.auth.views.login" %}">
                    <i class="fa fa-link"></i>
                    <span>Войти</span>
                </a>
            </li>

        {% endif %}

    </ul>
{% endblock %}

{% block content_header %}
    {% placeholder "content_header" %}
{% endblock %}

{% block content_body %}
    {% placeholder "content" %}
{% endblock %}

