{% load cms_tags menu_tags sekizai_tags staticfiles %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    {% render_block "css" %}

</head>
<body>
{% cms_toolbar %}


{% render_block "js" %}
</body>
</html>