{% load menu_tags %}

{% for child in children %}
    {% if child.children %}
        <li class=" {% if child.ancestor %} treeview active {% else %} treeview {% endif %}">

            <a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">
                <i class="fa fa-share"></i> <span>{{ child.get_menu_title }} </span>
                <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>


            <ul class="treeview-menu">


                {% show_menu from_level to_level extra_inactive extra_active "LTE/menu/main_menu.html" "" "" child %}
            </ul>
        </li>
    {% else %}
        <li {% if child.selected %} class="active" {% endif %}>
            <a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}"><i
                    class="fa fa-circle-o"></i>{{ child.get_menu_title }}</a>
        </li>
    {% endif %}
{% endfor %}