{% load menu_tags %}

{% for child in children %}
    <li {% if child.selected %} class="active"{% endif %}>
        <a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}"><i class="fa fa-circle-o"></i> {{ child.get_menu_title }}</a>
    </li>
{% endfor %}
